{
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["import"],
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es2021": true,
  },
  "rules": {
    "no-console": "warn",
    "max-len": ["error", 200],
    "import/no-named-default": "off",
    "import/prefer-default-export": "off",
    "quotes": ["error", "single"],
    "semi": "error",
  },
}
